@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (min-width: 1020px) { */
@media screen(lg) {
	.bg-hero {
		@apply absolute left-[30%] top-52 h-[300px] w-[2000px] rounded-l-full bg-softBlue;
	}
	.bg-tabs {
		@apply absolute right-[60%] top-60 h-[300px] w-[2000px] rounded-r-full bg-softBlue;
	}
}

.ficon:hover {
	filter: invert(57%) sepia(69%) saturate(4075%) hue-rotate(328deg)
		brightness(99%) contrast(97%);
}

/* HAMBURGER MENU */

.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	content: '';
	position: absolute;
	width: 24px;
	height: 3px;
	top: 0;
	left: 0;
	background: #000;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
	background: #000;
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
	position: fixed;
	top: 50px;
	right: 25px;
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
	background-color: #fff;
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
	background-color: #fff;
}

.blurred {
	@apply bg-veryDarkBlue/90 backdrop-blur-xl backdrop-filter;
}
